*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.navbar{
    
background-color: black;
    
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}
.nav-link:hover{
    color: red;
}
.space{
    background-color: red;
}
.img1 {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sec-2{
     height: 100vh;
  }
  .sec-0{
      background-color: black;
    height:50vh ;
    color: white;
 }
  .head{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .sec-3{
      background-color: black;
      height: 100vh;
      color: white;
  }
  footer{
      height: 30vh;
      background-color: black;
  }
  .f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}